
.container {
  display: grid;
  grid-template: 1fr / 1fr minmax(200px, auto);
  column-gap: 15px;
}
.users {
  display: grid;
  grid-template: 1fr / 1fr;
  row-gap: 20px;
}
.center {
  margin: 0 auto;
}
