.user {
  display: grid;
  grid-template: 1fr / 50px 1fr 100px;
  column-gap: 15px;
  padding: 10px 0 ;
  min-height: 72px;
  max-height: 85px;
  overflow: hidden;
  cursor: pointer;
  border-bottom: 2px solid rgba(56,72,255,0.7);
  color:#000;
  &__avatar {
    height: 50px;
    position: relative;
    border-radius: 50%;
    overflow: hidden;
    img{
      position: absolute;
      top:0;
      left:0;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  &__info {
    color:#000;
  }
  &__name{
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 10px;
  }
  &__text{
    font-size: 18px;
    line-height: 140%;
    padding-bottom: 5px;
  }
  &__date{
    text-align: right;
    color: rgba(113, 112, 112, 0.7);
  }
}
.followed {
  font-size: 42px;
  color:rgba(113, 112, 112, 0.5);
  background-color: transparent;
  width: 100%;
  height: 100%;
  &__active {
    color:green;
  }
}

.user__status{
  word-break:break-all;
}
