.info {
  margin-bottom: 20px;
  .row{
    display: flex;
    flex-wrap: wrap;
  }
  .avatar{
    flex: 0 0 100px;
    height: 100px;
    position: relative;
    img{
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}
.body{
  flex: 1 1 auto;
  padding-left: 30px;
  .name{
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 5px;
  }
  .content {
    p {
      font-size: 16px;
      line-height: 120%;
    }
  }
}